
 .login-container{
width: 100vw;

height: 100vh;
background-color: rgb(236, 203, 236);
 }.login-box{
    position: absolute;
  top: 50%;
  left: 50%;
  background-color: aliceblue;
  transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0 0 30px rgb(254, 201, 201);
    border-radius: 2rem;
 }.login-head{
  text-align: center;
  font-size: 2rem;
  color: plum;
 }.login-element{
 display: flex;
 justify-content: center;
 }.login-element>label{
  font-size: 1.2rem;
  font-weight: 400;
 }.login-element>input{
     width: 10rem;
     height: 1rem;
     padding: 2px;
 }

