
  .profile-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }.profile-container{
       width: 80rem;
       display: flex;
       flex-direction: column;
       align-items: center;
  }.profile-data{
    width: 30rem;
    box-shadow: 0 0 25px pink;
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
  }.profile-letter{
    width: 2rem;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.2rem;
        box-shadow: 0 0 25px pink;
    text-align: center;
    
  }.profile-name{
      text-align: center;

  }.profile-bloglist{
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 1rem;
         width: 65rem;
           box-shadow: 0 0 25px pink;
    border-radius: 3rem;
         margin: 2rem;
  }.profile-bloglist>p{
          font-size: 2rem;
          font-family: Arial, Helvetica, sans-serif;
          margin-block:1rem ;
          font-weight: 800;
          color: rgb(184, 96, 184);

  }.profile-blog{
    width: 60rem;
      box-shadow: 0 0 25px pink;
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .1rem;
  }.profile-custombtn>a{
    text-decoration: none;
    margin-inline:1rem ;
    font-size: large;
    border: 1px solid black;
    text-align: center;
    padding: .4rem;
    border-radius: 20px;
    background-color: pink;
    color: white;
    cursor: pointer;
    
  }.profile-custombtn>a:hover{
     background-color: white;
    color: pink;
    border: 1px solid pink;
    cursor: pointer;
  }.add-blog>a{
    text-decoration: none;
    margin-inline:1rem ;
    font-size: large;
    border: 1px solid black;
    text-align: center;
    padding: .4rem;
    border-radius: 20px;
    background-color: pink;
    color: white;
    cursor: pointer;
  }.add-blog>a:hover{
     background-color: white;
    color: pink;
    border: 1px solid pink;
    cursor: pointer;
  }.logout>a{
    text-decoration: none;
    margin-inline:1rem;
    margin-top:1rem;
    font-size: large;
    border: 1px solid black;
    text-align: center;
    padding: .2rem;
    border-radius: 20px;
    background-color: rgb(130, 86, 239);
    color: white;
    cursor: pointer;
  }.logout>a:hover{
     background-color: white;
    color: rgb(130, 86, 239);
    border: 1px solid rgb(130, 86, 239);
    cursor: pointer;
  }